.search{
  margin-top: 25px;
  text-align: center;
  margin-bottom: 25px;
}
.title h1{
  text-align: center;
  color: black;
}
.title h1::after{
  content: '';
  display: block;
  width: 25%;
  height: 2.5px;
  background-color: black;
  position: relative;
  left: 38%;
  top: 5px;
}
.search input{
  padding: 10px; 
  width: 38%;
  border-radius: 10px;
}




